# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Install
        run: |
          sudo apt-get install php -y

      - name: Git it
        run: |
          mkdir www
          cd www
          wget https://raw.githubusercontent.com/PHProxy/phproxy/master/edit.php
          wget https://raw.githubusercontent.com/PHProxy/phproxy/master/index.php
          cd ../
          wget https://raw.githubusercontent.com/open-dingtalk/pierced/master/linux/ding
          wget https://raw.githubusercontent.com/open-dingtalk/pierced/master/linux/ding.cfg
          chmod 777 ding

      - name: Use php
        run: |
          nohup bash ding -config=./ding.cfg -subdomain=axpxv10 2000
          cd www
          php -S localhost:2000
