# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Install
        run: |
          sudo apt-get install php -y

      - name: Git it
        run: |
          git clone https://github.com/PHProxy/phproxy.git
          git clone https://github.com/mzlogin/ding-tunnel
          cd ding-tunnel/linux
          nohup ./ding -config=./ding.cfg -subdomain=axpxv 1433
          cd ../..

      - name: Use php
        run: |
          cd phproxy
          nohup php -S localhost:1433
          sleep 6h
